
body{
  background: url('galaxy pic.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;align-items: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;

}

.login{
    background: rgba(15, 14, 14, 0.877);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(7, 0, 0);
    width: 300px;
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h2{
  color: rgba(4, 126, 25, 0.87);
  font-weight: 800;
  font-size: xx-large;
}

input[type="text"]{
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0, 63);
  box-shadow: 0 0 15px rgba(56, 4, 199, 0.103);
  color: rgb(17, 3, 80)

}

input [type="text"]::placeholder{
  color: rgb(226, 19, 19);
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;

}

.parrafos{
  display: flex;
  justify-content: space-between;
  color: rgba(233, 10, 10, 0.897);
  font-size: medium;
  margin-bottom: 15px;

}

#signup{
  color: rgb(23, 247, 2);
  cursor: pointer;
}
#button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(23, 247, 2);
  color: black;
  font-weight: 700;
  font-style: large;
  cursor: pointer;
}